nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 5px solid #FFD697;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;

}

nav h1 {
	padding: 10px 10px;
	margin: 10px 10px;
	font-family: 'Palette Mosaic', sans-serif;
}

.tab {
	text-decoration: none;
	color: black;
	margin-right: 10px;
	border-bottom: 1px solid black;
	margin-top: 3px;
	padding: 5px 5px;
	float: right;
	transition: 1s;
	border-radius: 5px;
	
}

.tab:hover {
	background-color: black;
	color: white;
	transition: 1s;
	border-radius: 5px;
}